nav{
  list-style-type: none;
  background-color: orange;
  position: fixed;
  width: 100vw;
  top: 0;
 margin-top: 50px;
  left: 0;
  padding: 8px;
  color: lightblue;
  text-align: right;
  
}

h1 {
  color: blue;
  font-size: 200px;
  text-align: center;
  margin-top: 50px;
  text-decoration: overline;
  text-shadow: 2px 2px 3px #EEC6CA;
  font-family: "Brush Script MT", cursive;
  
}
h2 {
  color: blue;
  font-size: 200px;
  text-align: center;
  margin-top: 50px;
  text-decoration: overline;
  text-shadow: 2px 2px 3px #EEC6CA;
  font-family: "Brush Script MT", cursive;
  
}
body {
  background-color: 
    antiquewhite;
}



li{
  display: inline;
  padding: 18px;
}
li:hover {
  background-color: gold;
}

a{
  text-decoration: none;
  color: darkgreen;
}

